<br>
<main>
  <div class="container", align="center">

   <div class="row">
    <div class="col-md-2">
     <div><h4>注文履歴一覧</h4></div></br >
    </div>
   </div>

   <div class="row">
    <div class="col-6">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
          </tr>
        </thead>

        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%=link_to admin_order_path(order.id) do %><%= order.created_at.to_s(:datetime_jp) %><% end %></td>
            <td><%= order.name %></td>
            <td><%= order.order_details.all.sum(:amount) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
   </div>

   <div class="row text-center">
      <div class="pagination">
       <p style='margin: 10px'>1</p>
       <p style='margin: 10px'>2</p>
       <p style='margin: 10px'>3</p>
       <p style='margin: 10px'>Next></p>
       <p style='margin: 10px'>Last>></p>
      </div>
   </div>

  </div>
</main>