<br>
<br>
<br>
<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<main>
  <div class="container", align="center">
     <h3 class="px-3 mx-auto">
      <strong>ご注文ありがとうございました！<strong>
     </h3>
  </div>
</main>