<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-4">
        <h4>注文情報確認</h4>
      </div>
   </div>

  <table border="1">
     <thead>
       <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
       </tr>

       <tbody>
         <tr>
           <th>
           </th>
           <th></th>
           <th></th>
           <th></th>
         </tr>
       </tbody>
     </thead>
   </table>

   <table border="1">
     <tr>
       <th>送料</th>
       <td></td>
     </tr>

     <tr>
       <th>商品合計</th>
       <td></td>
     </tr>

     <tr>
       <th>請求金額</th>
       <td></td>
     </tr>
   </table>

　 <div class="row">
      <div class="col-4">
        <h5>支払方法</h5>
        クレジットカード
      </div>
   </div>

　 <div class="row">
      <div class="col-4">
        <h5>お届け先</h5>
        東京
      </div>
   </div>

   <div class="row text-center">
    <div class="col">
      <%=link_to "注文を確定する", orders_complete_path, class: "btn btn-sm btn-primary btn-lg" %>
    </div>
   </div>

 </div>
</main>



