<br>
<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
      <div class="col-4">
        <h4>注文情報入力</h4>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-4">
        <h5><strong>支払方法</strong></h5>
        クレジットカード
        <br>
        銀行振込
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-4">
        <h5><strong>お届け先</strong></h5>
        ご自身の住所
        <br>
        登録済住所から選択
        <br>
        新しいお届け先
      </div>
   </div>

   <div class="row text-center">
    <div class="col">
      <%=link_to "確認画面へ進む", orders_confirm_path, class: "btn btn-sm btn-primary btn-lg" %>
    </div>
   </div>

  </div>
</main>